@model IEnumerable<helloGCP.Models.Fruit>

@{
    ViewData["Title"] = "View";
}
<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div id="search" class="col-4 mb-3">
    <label for="txtSearch" id="lblSearch" class="col-form-label">Search: </label>
    <input type="text" id="txtSearch" class="form-control" onkeyup="searchRows()" ClientMode="Static" />
</div>
<table class="table" id="fruit-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shape)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HarvestSeason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Family)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td id="fruit">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shape)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HarvestSeason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Family)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
